autopep8==1.4.4
certifi==2017.7.27.1
chardet==3.0.4
coverage==4.4.1
Django==1.11.4
djangorestframework==3.9.1
httpie==1.0.3
idna==2.8
pycodestyle==2.3.1
Pygments==2.4.2
pytz==2019.2
requests==2.20.0
urllib3==1.24.2
